html {
    background-color: black;
    text-align: center;
}

header h1{
    font-family: Verdana;
    font-weight: Normal;
    font-size: 50px;
    color: white;   
}

header a {
    font-size: 16px;
    color: aquamarine;
}